*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.header{
    background-color: white;
    color: black;
    text-align: center;
    padding: 30px;
}
.topnav{
    overflow: hidden;
    background-color: black;
}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: green;
}
.leftcolumn{
    float: left;
    width: 75%;
}
.rightcolumn{
    float: left;
    width: 25%;
    background-color: grey;
    padding-left: 10px;
}
.img{
    background-color: grey;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    padding: 10px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
}
input[type=text]{
    width: 100%;
    border-color: grey;
    border-radius: 5px;
    margin: 10px 0;
}
@media screen and (max-width:800px){
    .leftcolumn .rightcolumn{
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width:400px){
    .topnav a{
        float: none;
        width: 100%;
    }
}